{% extends '@organisms/node_item/node-item.html.twig' %}

{% block node_item %}

  {%
    set classes = [
      'node-item',
      'node-item--footer',
      'content-footer',
      'grid',
    ]
  %}

  {%
    set submitted_classes = [
      'submitted',
      'grid'
    ]
   %}
  {% if display_submitted %}
    <footer{{ attributes.addClass(classes) }}>
      {{ author_picture }}

      <div{{ author_attributes.addClass(submitted_classes) }}>

        {{ author_name }}
        <span class="separator"> | </span>
        <span class="date">{{ date }}</span>

        {{ metadata }}

      </div>
      {{ content.links }}
    </footer>
  {% endif %}

{% endblock %}
